@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-6xl text-blue-400 text-uppercase mb-4" style="letter-spacing: 1.5px;">Build Your Dream Category.</h1>
    <p>Category Makes easy with App2! <a href="https://docs.microsoft.com/aspnet/core">Controls Category</a>.</p>
</div>
